@page
@model IndexModel

                                    @* <!--    @ { } this is C# code! STATIC! You cannot change these variables, unlike GetServersideProps --> *@
@{
    ViewData["Title"] = "Pizza Party";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
    string favoritePizza = "cheese";
    string[] pizzaArray = { "cheese", "pepperoni", "sausage" };   

}

<style>
    .text-center { background-color:  blanchedalmond; }

    .display-4 {
        font-size: 45px; 
        color: hotpink;
        min-height: 50vh;
        min-width: 50vw;
        color: #B49D17;
    }   

    #pizzaBtn {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2UsJuDokcgtN9hU3AOBuEdeSvoFgJqW2Hvq5qnRwKNmdBnTYRqP6AxD7w50T2olELzxM&usqp=CAU);
        height: 125px;
        width: 125px;
    }
    #pizzaBtn:hover { cursor: pointer; }

</style>

<div class="text-center">
    <h1 class="display-4">Pizza Party</h1>
    @* <p> <a href="https://docs.microsoft.com/aspnet/core">Or a Pizza Party!</a>.</p> *@
    <button onclick={pizzaClick()} id="pizzaBtn"> </button>
    <p class="lead" > The best pizza in town for @Convert.ToInt32(timeInBusiness.TotalDays) days! </p>
    @* <p> Here is a nice @randomPizzaFunc() </p> *@
    @* <p> @randomPizza() ... @lovepizza() </p> *@
    <pre id="favoritePizzaTxt"> Yh </pre>
</div>

@functions {
    string randomPizzaFunc()
    {
        string[] localPizzaArray = { "cheese", "pepperoni", "sausage" };
        Random rando = new Random();
        int randomIndex = rando.Next(0, localPizzaArray.Length);
        string randomPizza = localPizzaArray[randomIndex];
        return randomPizza;
    }
}


<script>
    const pizzaClick = () => {
        console.log("hey were clicking!");
        console.log("yeah hey whatsup");
    
        let pizzaArrJS = @Html.Raw(Json.Serialize(pizzaArray));
        let preText = ['lets do', 'oh wait how bout', 'maybe', 'but i like', "well there's:"];

        const returnRandom = (array) => {
            let randomValue = array[Math.floor(Math.random() * array.length)];
            return randomValue
        }

        let randomPizzaJS = pizzaArrJS[Math.floor(Math.random() * pizzaArrJS.length)];
        let randomPreText = returnRandom(preText);
        let random = returnRandom(pizzaArrJS);
        let randomString = `${randomPreText} ${random}`;
        console.log(randomString);
        const txtElem = document.querySelector("#favoritePizzaTxt");
        txtElem.textContent = randomString;

        
        

        


    }
</script>


